.catalogue {
    list-style-type: none;
}

.catalogueSection {
    display: grid;
}

.category {
    color: black;
    text-align: left;
    font-size: 15px;
    font-weight: lighter;
    text-shadow: 0 0 1px rgba(0,0,0,.25);
}

.item:hover {
    text-shadow: 0 0 4px rgba(0,0,0,.25);
}

.closeButton {
    align-self: end;
    cursor: default;
    background-color: var(--jet-offwhite);
    border: 1px var(--jet-offwhite);
    margin: 15px;
}