.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 80%); /* Black w/opacity */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


.overlayContent {
    display: flex;
    flex-direction: column;
    background-color: var(--jet-offwhite);
    width: 80%; /* 100% width */
    height: 80%; /* 100% width */
}

.info {

    display: flex;
    overflow: auto;
    height: auto;
    width: 90%;
    background-color: var(--jet-offwhite);
    align-items: start;
    max-width: 450px;
    max-height: 600px;

}

.infoTable {
    background-color: var(--jet-offwhite);
    padding: 0.2em;
}

.infoTable td {
    vertical-align: top;
}

.itemImage {
    width: 25%;
    max-width: 300px;
}

.descriptors {
    background-color: var(--jet-orange-light);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 30px;
    width: 80%;
    height: 40%;
    align-self: center;
}

.header {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background: var(--jet-orange-dark);
    color: white;
}

.image {
    text-align: center;
    vertical-align: top;
}

.itemTitle {
    display: flex;
}

.itemTitle span {
    flex: 1;
}


.closeButton {
    cursor: default;
    background-color: var(--jet-orange-dark);
    border: 1px var(--jet-orange-dark);
    align-self: end;
}