.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    font-weight: 800;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga","clig";
    color: #fff;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 0;
    text-shadow: 0 0 4px rgba(0,0,0,.25);
}

.cocktail {
    font-size: 40px;
    text-shadow: 1px 0 white;
    letter-spacing:1px;
    font-weight:bold;
}

.filterButton {
    background-color: var(--jet-blue);
    color: white;
    border: 1px var(--jet-blue);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    border-radius: 0 2px 2px 0;
    align-self: start;
}

.catalogue {
    list-style-type: none;
}

.hidden {
    visibility: collapse;
}