.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: skyblue;
    transition: 0.5s;
    overflow: auto;

    padding-left: 2%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.collapsed {
    visibility: collapse;
}

.filters {
    list-style-type: none;
    padding-left: 0;
}

.closeButton {
    align-self: end;
    font-size: 60px;
    margin-right: 15px;
    cursor: default;
}