.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: var(--jet-offwhite);
    transition: 0.5s;
    overflow: auto;

    padding-left: 2%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.collapsed {
    visibility: collapse;
}

.filters {
    list-style-type: none;
    padding-left: 0;
}

.closeButton {
    align-self: end;
    cursor: default;
    background-color: var(--jet-offwhite);
    border: 1px var(--jet-offwhite);
    margin: 15px;
}

.filterActions {

}

.filterActionBtn {
    background-color: #125fca;
    color: #fff;
    cursor: pointer;
    border: 1px solid #125fca;
    border-radius: 0 2px 2px 0;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
    padding: 1em;
    margin: 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
}