:root {
  --jet-orange-light: #ff8000;
  --jet-orange-dark: #f86600;
  --jet-offwhite: #f8f5f2;
  --jet-blue: #125fca;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("components/home/Wave.svg");

}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}


@media (min-width: 1080px) {

  body {
    background-size: cover;
  }

}